<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Home team #<%= @home_team.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/home_teams" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/home_teams/<%= @home_team.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit home team
        </a>
      </div>

      <div class="col">
        <a href="/delete_home_team/<%= @home_team.id %>" class="btn btn-block btn-outline-secondary">
          Delete home team
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Home name
      </dt>
      <dd>
        <%= @home_team.home_name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@home_team.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@home_team.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

