<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Game #<%= @game.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/games" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/games/<%= @game.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit game
        </a>
      </div>

      <div class="col">
        <a href="/delete_game/<%= @game.id %>" class="btn btn-block btn-outline-secondary">
          Delete game
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Home name
      </dt>
      <dd>
        <%= @game.home_name %>
      </dd>

      <dt>
        Away name
      </dt>
      <dd>
        <%= @game.away_name %>
      </dd>

      <dt>
        Time
      </dt>
      <dd>
        <%= @game.time %>
      </dd>

      <dt>
        Date
      </dt>
      <dd>
        <%= @game.date %>
      </dd>

      <dt>
        Fanteam
      </dt>
      <dd>
        <% if @game.fanteam.present? %>
          <a href="/fan_teams/<%= @game.fanteam_id %>">
            <%= @game.fanteam.user_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        Opponent team
      </dt>
      <dd>
        <% if @game.opponent_team.present? %>
          <a href="/opponent_teams/<%= @game.opponent_team_id %>">
            <%= @game.opponent_team.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@game.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@game.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

