<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Opponent team #<%= @opponent_team.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/opponent_teams" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/opponent_teams/<%= @opponent_team.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit opponent team
        </a>
      </div>

      <div class="col">
        <a href="/delete_opponent_team/<%= @opponent_team.id %>" class="btn btn-block btn-outline-secondary">
          Delete opponent team
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@opponent_team.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@opponent_team.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "opponent_team_templates/opponent_team_games" %>
  </div>
</div>
